[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
dj-database-url = "==0.4.2"
Django = "==2.0"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
whitenoise = "==3.3.1"
django-environ = "*"
djangorestframework = "*"
drf-nested-routers = "*"
social-auth-app-django = "*"
django-filter = "*"

[dev-packages]
bpython = "*"
tox = "*"
